antiorm==1.2.1
APScheduler==3.6.3
asyncio==3.4.3
atomicwrites==1.4.0
attrs==21.2.0
Babel==2.9.1
bitarray==2.4.1
bs4==0.0.1
certifi==2021.5.30
cffi==1.15.0
chardet==4.0.0
cheroot==8.6.0
colorama==0.4.4
db==0.1.1
db-sqlite3==0.0.1
email-validator==1.2.1
idna==2.10
iniconfig==1.1.1
ipaddress==1.0.23
lxml==4.7.1
phonenumbers==8.12.48
py==1.11.0
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.21
pycryptodome==3.14.0
pycrystalpay==2.2.2
pyTelegramBotAPI==4.4.0
python-dotenv==0.17.1
python-telegram-bot==13.1
pytz==2021.1
pytz-deprecation-shim==0.1.0.post0
random2==1.0.1
requests==2.27.1
rfc3986==1.5.0
SimpleQIWI==0.7
six==1.16.0
soupsieve==1.9.6
telepot==12.7
Telethon==0.18.2.3
tempora==1.14.1
toml==0.10.2
tornado==5.1.1
typing==3.7.4.3
typing-extensions==3.10.0.0
tzdata==2022.1
urllib3==1.26.8
uuid==1.30
YooMoney==0.1.0
zc.lockfile==2.0